/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/*
 * http://www.colourlovers.com/palette/15/tech_light
 */

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

html {
	overflow-y: scroll;
}

body {
	background: url(../img/global/page-bg.png) 0 0 #000;
	padding: 40px 0;
}

.container.body {
	background: #fff;
	border: 10px solid #fff;
	padding-top: 10px;
}



.user-nav {
	text-align: right;
}
.user-nav ul {
	float: right;
	margin-bottom: 10px;
}

.user-nav .status {
	display: block;
	clear: both;
}

.site-nav {
	background: #26ADE4;
	margin-top: 10px;
	margin-bottom: 20px;
}
	.site-nav ul {
		margin: 0 15px;
	}

	.site-nav ul li a {
		display: block;
		padding: 10px 15px;
		color: #fff;
		text-decoration: none;
		margin-right: 2px;
		font-weight: normal;
	}
	
	.site-nav ul li a:hover,
	.site-nav ul li a.active {
		background: #1D82AB;
	}

.site-nav.admin {
	background: #A6150A;
}
	.site-nav.admin ul li a {
		color: #fff;
	}
	.site-nav.admin ul li a:hover,
	.site-nav.admin ul li a.active {
		background: #7D1008; 
	}



a {
	color: #697429 ;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
}


p.big { font-size: 135%; line-height: 165%; color: #666; }


.left { text-align: left; }
.right { text-align: right; }



.flash .alert {
	margin-bottom: 10px;
}



.content-box {
	border: 1px solid #e8e8e8;
	background: #fafafa;
}
.content-box .content-box-content {
	margin: 10px;
}


div.footer {
	margin-top: 20px;
	margin-bottom: 20px;
	background: #9DAD3D;
}

	div.footer p {
		margin: 10px;
		color: #fff;
		font-size: 85%;
	}
	
	div.footer a {
		color: #fff;
		text-decoration: none;
		border-bottom: 1px dotted #fff;
		padding-bottom: 1px;
	}



h2.page-title {
	font-size: 160%;
	font-weight: normal;
	letter-spacing: -1px;
	margin-bottom: 10px;
}


a.i {
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding-left: 20px;
}

.i.login { background-image: url(../img/global/icons/lock.png); }
.i.account { background-image: url(../img/global/icons/user.png); }
.i.news { background-image: url(../img/global/icons/news.png); }
.i.log { background-image: url(../img/global/icons/log.png); }
.i.register { background-image: url(../img/global/icons/register.png); }

.icon.add span { background-image: url(../img/global/icons/plus.png); }
.icon.delete span { background-image: url(../img/global/icons/delete.png); }
.icon.website span { background-image: url(../img/global/icons/world.png); }
.icon.lock span { background-image: url(../img/global/icons/lock.png); }
.icon.tick span { background-image: url(../img/global/icons/tick.png); }
.icon.tick-round span { background-image: url(../img/global/icons/tick-round.png); }




table.filter {
	width: 100%;
}



/* #Page Styles
================================================== */




/* Railways page
==================== */

ul.railways {
	display: block;
	margin-left: -20px;
}

	ul.railways li {
		position: relative;
		display: block;
		width: 220px;
		float: left;
		margin-left: 20px;
		margin-bottom: 20px;
	}

	ul.railways li a {
		text-decoration: none;
		outline: 0;
		line-height: inherit;
		margin-bottom: 20px;
	}

	ul.railways li a img {
		display: block;
		width: 100%;
	}

	ul.railways li h4 {
		background: #F3E25E;
		color: #000;
		padding: 10px 10px 5px 10px;
		height: 64px;
		line-height: 125%;
	}

	ul.railways li a:hover h4 {
		background: #FAF1AF;
	}



/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/