/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/*
 * http://www.colourlovers.com/palette/15/tech_light
 *
 * Blue
 * 2093C2
 */

/* Table of Content
====================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face
	
	*/


/* #Site Styles
==================== */

html {
	overflow-y: scroll;
}

body {
	background: #fff;	/*#f9f9fa;	/*url(../img/global/page-bg.png) 0 0 #000;*/
	padding: 0;
}

.container.body {
	padding-top: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #fff;
	border: 0px solid #fff;
	border-top-width: 0;
}


.sub_header hr {
	margin-bottom: 20px;
}



div.nav {
	background: #2093C2;
}

div.subnav {
	background: #1D82AB;
}

.user-nav {
	padding-top: 8px;
	text-align: right;
}
.user-nav ul {
	float: right;
	margin-bottom: 10px;
}

.user-nav .status {
	display: block;
	clear: both;
}

.user-nav li a {
	margin-left: 23px;
	padding-left: 23px;
}


	.site-nav ul {
		margin: 0;	/* 15px;*/
	}

	.site-nav ul li a {
		display: block;
		padding: 10px 15px;
		color: #fff;
		text-decoration: none;
		margin-right: 2px;
		font-weight: normal;
	}
	
	.site-nav ul li a:hover,
	.site-nav ul li a.active {
		background: #1D82AB;
	}

/* Sub-navigation bar */
div.subnav .site-nav ul li a:hover,
div.subnav .site-nav ul li a.active {
	background: #186E92;
	color: #fff;
} 



body.type_admin .nav {
	background: #A6150A;
}
body.type_admin .site-nav {
	background: #A6150A;
}
	body.type_admin .site-nav ul li a {
		color: #fff;
	}
	body.type_admin .site-nav ul li a:hover,
	body.type_admin .site-nav ul li a.active {
		background: #7D1008; 
	}


a {
	/*color: #697429;*/
	color: #2093C2 ;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
}


p.big { font-size: 135%; line-height: 165%; color: #666; }



.logo h1 {
	margin: 0;
}


.left { text-align: left; }
.right { text-align: right; }



.flash .alert {
	margin-bottom: 20px;
}



.content-box {
	border: 1px solid #e8e8e8;
	background: #fafafa;
}
.content-box .content-box-content {
	margin: 10px;
}


div.footer {
	margin-top: 20px;
	margin-bottom: 20px;
	background: #2093C2 ;
}

	div.footer p {
		margin: 10px;
		color: #fff;
		font-size: 85%;
	}
	
	div.footer a {
		color: #fff;
		text-decoration: none;
		border-bottom: 1px dotted #fff;
		padding-bottom: 1px;
	}

body.type_admin .footer {
	background: #A6150A;
}


h2.page-title {
	font-size: 23px;
	line-height: 23px;
	font-weight: normal;
	letter-spacing: -1px;
	/*margin-bottom: 10px;*/
}


a.i {
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding-left: 20px;
	display: inline-block;
}

.i.login { background-image: url(../img/global/icons/pid/login.png); }
.i.logout { background-image: url(../img/global/icons/pid/logout.png); }
.i.account { background-image: url(../img/global/icons/pid/account.png); }
.i.news { background-image: url(../img/global/icons/pid/news.png); }
.i.log { background-image: url(../img/global/icons/pid/log.png); }
.i.register { background-image: url(../img/global/icons/pid/person.png); }
.i.add { background-image: url(../img/global/icons/add.png); }

.icon.add span { background-image: url(../img/global/icons/plus.png); }
.icon.delete span { background-image: url(../img/global/icons/delete.png); }
.icon.website span { background-image: url(../img/global/icons/world.png); }
.icon.lock span { background-image: url(../img/global/icons/lock.png); }
.icon.tick span { background-image: url(../img/global/icons/tick.png); }
.icon.tick-round span { background-image: url(../img/global/icons/tick-round.png); }



ul.icon_links li a {
	margin-right: 23px;
}

ul.icon_links.right {
	float: right;
}

ul.icon_links.right li a {
	margin-left: 23px;
	margin-right: 0;
}




table.filter {
	width: 100%;
}

table.filter tr td {
	padding: 0 0 5px 0;
	vertical-align: baseline;
}

table.filter tr td input, table.filter tr td select {
	margin: 0;
}




table.jCalendar {
	border: 0px solid #fff;
	background: #f5f5f5;
	border-collapse: separate;
	border-spacing: 4px;
}
table.jCalendar th {
	background: #4DBCE9;
	color: #fff;
	font-weight: bold;
	padding: 3px 5px;
}

table.jCalendar tr td {
	background: #ddd;
	color: #000;
	padding: 2px 4px;
	text-align: center;
	border: 1px solid #ddd;
}
table.jCalendar td.other-month {
	background: #fff;
	color: #aaa;
	border-color: #fff;
}
table.jCalendar td.today {
	background: #D1E751;
	color: #000;
	border-color: #D1E751;
}
table.jCalendar td.selected {
	background: #f66;
	color: #fff;
}
table.jCalendar td.selected.dp-hover {
	background: #f33;
	color: #fff;
}
table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td {
	background: #fff;
	color: #000;
}
table.jCalendar tr.selectedWeek td {
	background: #f66;
	color: #fff;
}
table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {
	background: #bbb;
	color: #888;
	border-color: #bbb;
}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {
	background: #fff;
	color: #888;
}
div.dp-popup {
	position: relative;
	background: #f5f5f5;
	font-size: 11px;
	padding: 2px;
	width: 185px;
	line-height: 1.2em;
}
div#dp-popup {
	position: absolute;
	z-index: 199;
}
div.dp-popup h2 {
	font-size: 12px;
	text-align: center;
	margin: 2px 0;
	padding: 2px 0;
	line-height: inherit;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}


/* #Page Styles
==================== */




/* Railways page
==================== */

ul.railways {
	display: block;
	margin-left: -20px;
}


	ul.railways li {
		position: relative;
		display: block;
		width: 300px;
		float: left;
		margin-left: 20px;
		margin-bottom: 40px;
	}
	
	ul.railways li a {
		text-decoration: none;
		outline: 0;
		line-height: inherit;
	}
	
	ul.railways li a img {
		display: block;
		width: 100px;
		height: 100px;
		margin-right: 10px;
		border: 4px solid #ddd;
		float: left;
	}
	
	ul.railways li h4 {
		color: #aec81c;
		font-size: 110%;
		line-height: 125%;
		display: inline;
	}





/* Shack - Stations
==================== */

div.row.station {
	margin-bottom: 20px;
}
div.row.station.heading {
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

	div.row.station .station-year h3 {
		margin: 0;
		padding: 0;
		line-height: normal;
		font-size: 120%;
		color: #2093C2;
	}
	
	div.row.station .station-operator .callsign,
	div.row.station .station-operator .name {
		display: inline-block;
		vertical-align: middle;
	}
	
	div.row.station .station-operator .callsign {
		font-size: 110%;
		font-weight: bold;
		margin-right: 10px;
		color: #aec81c;
	}
	
	div.row.station .station-operator .name {
		color: #666;
		font-size: 85%;
		font-weight: bold;
	}
	
	div.row.station .station-railway .railway {
		margin-top: 5px;
		display: block;
	}
	
	div.row.station .ops {
		text-align: right;
	}
		div.row.station .ops a {
			margin-left: 8px;
		}




/* #News
========== */

.row.article {
	border-top: 1px dotted #ddd;
	padding-top: 10px;
}

	.row.article .article-meta {
		font-size: 90%;
	}
	
		.row.article .article-meta p {
			border-bottom: 1px dotted #ddd;
			margin: 0;
			padding: 5px 0;
		}
		
		.row.article .article-meta p a {
			font-weight: normal;
		}
	
	.row.article .article-content h3 {
		margin: 0 0 10px 0;
		line-height: inherit;
	}
	
	.row.article .article-image {
		padding-top: 28px;
	}



/* Autocomplete
========== */


.autocomplete-w1 { position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }



/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
		.user-nav,
		.site-nav {
			text-align: left;
			padding: 0;
		}
		.user-nav ul {
			float: left;
		}
		.user-nav ul li,
		.site-nav ul li {
			display: list-item;
			clear: both;
			float: none;
		}
		.user-nav ul li a,
		.site-nav ul li a {
			margin-left: 0;
			display: block;
			width: 100%;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		
		.site-nav ul {
			margin-left: 0;
		}
		.site-nav ul li {
			margin: 0;
		}
		.site-nav ul li a {
			margin: 0;
			padding: 5px;
		}

	
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/